# .env.example
PORT
MONGODB_USER
MONGODB_PASSWORD
MONGODB_URL
DB_URI=mongodb+srv://juliajaworska:<MONGODB_PASSWORD>@cluster0.buipiyf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB